<nav class="navbar">
    <img src="assets/logo.svg" class="logo"  alt="logo">
    <ul>
        <li><a routerLink="sport"><app-icon-sport [fill]="getFill('sport')"></app-icon-sport></a></li>
        <li><a routerLink="live"><app-icon-live [fill]="getFill('live')"></app-icon-live></a></li>
        <li><a routerLink="slots"><app-icon-slots [fill]="getFill('slots')"></app-icon-slots></a></li>
        <li><a routerLink="casino"><app-icon-casino [fill]="getFill('casino')"></app-icon-casino></a></li>
    </ul>
</nav>